<div class="container">
  <div class="map-container">
    <div #mapContainer id="map"></div>
  </div>

  <div class="info-container">
    <app-time-slider (sliderChange)="onSliderChange($event)"></app-time-slider>
  </div>

    <div *ngIf="filteredCDRs.length > 0" class="cdr-container">
      <h2>Filtered CDR Information</h2>
      <div *ngFor="let cdr of filteredCDRs">
        <p><strong>Caller:</strong> {{ getLocationName(cdr) }}</p>
        <p><strong>Recipient:</strong> {{ getReceiverName(cdr) }}</p>
        <p><strong>Start Time:</strong> {{ cdr.startTime | date }}</p>
        <p><strong>End Time:</strong> {{ cdr.endTime | date }}</p>
        <p><strong>Duration:</strong> {{ getCdrDuration(cdr) }} seconds</p>
        <hr>
      </div>
    </div>
</div>
